**/__pycache__
audio_tfrecords_cherrypick/
audio_tfrecords/
audio_tfrecords.zip
spectrogram_tfrecords_cherrypick/
spectrogram_records/
data/
core*
*.exp*
*.swp
*.swo
train-container-sandbox/
elp_spectrogram_records/
cnn_model/
toughset_audio_records/
training_run.csv
elp_audio_records/
rnn_model/
