**/__pycache__
logs/
ckpt/
model
*.png
audio_tfrecords_cherrypick/
audio_tfrecords/
audio_tfrecords.zip
Tests/
spectrogram_tfrecords_cherrypick/
spectrogram_records/
data/
core*
*.exp*
.cross_validation_experiment.py.swp
.environment.yml.swp
train-container-sandbox/
.utils.py.swp
elp_spectrogram_records/
